* {
	box-sizing: border-box; 
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	height: 100vh;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wrapper {
	width: 400px;
	height: auto;
	color: #fff;
	padding: 40px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	position: relative;
	background: #ffffff1a;
	border: 8px solid #ffffff30;
	border-radius: 1px;
	margin: auto;
}

.wrapper h2 {
	text-align: center;
	margin: 0;
	margin-bottom: 30px;
	color: black; /* Make text color readable */
	font-size: 24px; /* Increase font size for better readability */
}

.wrapper p {
	margin: 0;
	padding: 0;
	font-weight: 300;
	text-align: center;
	color: black;
}

.form-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box {
	position: relative;
}

.box input {
	padding-right: 10px;
	width: 100%; /* Ensure inputs span full width */
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #bababa;
}

.box i {
	position: absolute;
	top: 34%;
	transform: translateY(-50%);
	right: 30px;
	color: black;
}

.wrapper input,
button {
	border: 1px solid #bababa;
	background: transparent;
	outline: none;
	height: 50px;
	color: black;
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 4px;
}

.wrapper .options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.wrapper .options label {
	color: black;
	font-size: 16px;
}

.options input[type="checkbox"] {
	width: 15px;
	height: auto;
}

.wrapper a {
	text-decoration: none;
	color: black;
}

button:hover {
	background: blue;
	color: white; /* Text color change on hover for better contrast */
}

.wrapper p {
	color: black;
	text-align: center;
}
